.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 16px;
}
.login-box{
    background: #ffffff;
    width:100%;
    height: 100%;
    display:flex;
    padding: 16px;
}
.login-form{ 
    display: flex;
    background: rgb(255, 255, 255);
    height:100%;
    max-width: 3xl;
    width: 100%;
    padding: 16px; 
}