
*{
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border: 3px solid #e4e4e4;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(44, 44, 44, 0.63), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

/* Título e descrição */
.card-header {
  text-align: center;
  margin-bottom: 24px;
}
.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-top: 8px;
}
.card-description {
  font-size: 14px;
  color: #666;
  margin: 0;
  margin-top: 4px;
}

.label-base {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom:6px;
  color: #333;
}

.input-base {
  width: 100%;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 16px;
  color: #2b2b2b;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.input-base:focus {
  outline: none; /* remove o contorno padrão */
}

.btn-login{
  padding: 14px 0px;
  background-color: #7fc464;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 24px;
  width: 100%;

  box-shadow: 0 4px 6px #7fc464; 
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}
.btn-login:hover {
  background-color: #99cd85;
}
          
.btn-login:active {
  transform: scale(0.98); 
  box-shadow: none;
}

.link{
  color:#0032d4cc;
  text-decoration: none;
}

.logo-image { 
 max-width: 600px; 
  height: auto;     
  display: block;   
  margin: 0 auto;
}

/* Arrumar responsividade */
@media (max-width: 768px) {

  .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo-image {
    max-width: 180px !important;
  }

  .card {
    max-width: 320px;
    width: 100%;
  }
}

@media (max-width: 600px) {

  .container {
    padding: 8px;
  }

  .logo-image {
    max-width: 140px !important;
  }

  .card {
    max-width: 300px;
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
  }

  .btn-login {
    font-size: 16px;
  }
}