html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.App {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
main {
  width: 100%;
  max-width: 1070px;
  padding: 20px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: center; 
}
#grafico, #transacao {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .cards {
    flex-direction: row-reverse;
    align-items: center;
  }
}
