html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

#saldo, #grafico, #transacoes {
  scroll-margin-top: 80px; 
}

.App {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; 
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 20px; 
  padding-top:20px;
  flex-wrap: wrap;
}

