.card {
  width: 250px;
  background:  #99CD85;
  border-radius: 16px;
  padding: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  font-size: 1.2rem;
  font-weight: 600;
}
.description {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}
/* mobile */
@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
