.chatbot-popup{
  position:relative;
  width: 420px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: #20b60c;
}

.chatbot-popup .chat-header{
  display:flex;
  padding: 15px 22px;
  align-items:center;
  justify-content:space-between;
  background: #0f6404;
}

.chat-header {
  padding: 16px;
  background: #3c79b9;
  color: rgb(255, 255, 255);
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info{
  display:flex;
  gap:10px;
  align-items:center;
}

.chat-header button{
  height:40px;
  width:40px;
  border: none;
  outline: none;
  color:#ffffff;
  cursor:pointer;
  border-radius: 50%;
  font-size:1.9rem;
  padding-top: 2px;
  margin-right:-10px;
  background:none;
  transition: 0.02 ease;
}

/* .chat-header button:hover{
  background:#ccbaee;
} */

.chat-body{
  display: flex;
  flex-direction:column;
  gap: 20px;
  height:460px;
  overflow-y:auto;
  padding: 25px 22px;
}

.chat-body .message{
  display: flex;
  align-items:center;
  gap:11px;
}

.chat-body .message .message-text{
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.9rem;
}

.chat-body .bot-message .message-text{
  background: #7fc464;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .bot-message .message-text{
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text{
  color:aliceblue;
  background: #99cd85;
  border-radius: 13px 13px 3px 13px;
}

.chat-footer button{
padding: 12px 20px;
  border:none;
  outline: none;
  color:rgb(255, 255, 255);
  font-weight:12px;
  border-radius:12px;
  background:#0f6404;
} 

