
.App{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 0; 
  padding: 0;

}
.dataCard.bar {
  width: 55%;
  height: 300px; 
  display: flex;
  padding: 10px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.dataCard.donut {
  width: 40%;
  height: 300px; 
  display: flex;
  padding: 10px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}
